extends ../layouts/loggedIn

block freon  
  script(type="text/javascript" src="/js/viewer/ux/PreviewPlugin.js")
  script(type="text/javascript" src="/js/viewer/FeedGrid.js")
  script(type="text/javascript" src="/js/viewer/FeedPost.js")
  script(type="text/javascript" src="/js/viewer/FeedDetail.js")    
  script(type="text/javascript" src="/js/viewer/FeedInfo.js")
  script(type="text/javascript" src="/js/viewer/FeedPanel.js")    
  script(type="text/javascript" src="/js/viewer/FeedWindow.js")
  script(type="text/javascript" src="/js/viewer/FREON.js")
  script(type="text/javascript" src="/js/app.js")
block content
  div= appContainer