extends ./layouts/default

block content

  h1.center FReoN
  h2.center Feed Reader on Node.js
   .form-actions
      a.show-login(href="/signup") Signup
      span &nbsp;or&nbsp;
      a.show-login(href="/login") Login
